/* BASE */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #f2f9fc;
}

body {
  /* font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300))); */
}

header{

}

main {
  /* display: flex; */
  /* flex-wrap: wrap; */
}

section {

}

section {
  opacity: 0;
  margin: 0.5rem;
  /* display: flex; */
  /* background-color: light grey; */
  text-align: center;
  position: absolute;
}

section[data-route="/"]:active {
  position: absolute;
  z-index: 5;
}

section[data-route="boeken"]:active {
  position: absolute;
  z-index: 5;
}
section[data-route="detail"]:active {
  position: absolute;
  z-index: 5;
}

article {
}

span {
}

blockquote {
}

h1 {

}

h2 {

}

h3 {
}

p {
}

img {

}

/* LAYOUT */


/* MODULES */
.genreIcon{
  max-width: 10vw;
  align-self: center;
  margin-top: 2vw;
}

.logo{
  height: 7vw;
  margin-right: 3vw;
}
/* STATE */

.active {
  opacity: 1;
}

section:hover #naald{
  /* transform: rotate(360deg); */
  transform-origin: center;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  transition-delay: 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;

  }
/* THEME */
