@import 'reset.css';

/* VARIABLES */
:root {
  --color-light: #FFF2EB;
  --color-darkRed: #802626;
  --color-white: #FFFFFF;
  --color-gray: #cccccc;
  --color-black: #000000;
  --color-red: #FF0000;
  --font-heading: "AvenirMedium";
  --font-subheading: "AvenirRoman";
  --font-body: "AvenirBook";
  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-weight-light: 300;
  --font-weight-default: 500;
  --font-weight-bold: 600;
  --spacing-large: 30px;
  --spacing-medium: 25px;
  --spacing-default: 15px;
  --spacing-small: 10px;
  --spacing-tiny: 5px;
  --layout-tiny: 350px;
  --layout-smaller: 400px;
  --layout-small: 500px;
  --layout-medium: 635px;
}

/* FONTS */
@font-face {
  font-family: "AvenirBook";
  src: url('/src/css/fonts/AvenirLTStd-Book.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AvenirMedium";
  src: url('/src/css/fonts/AvenirLTStd-Medium.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirRoman";
  src: url('/src/css/fonts/AvenirLTStd-Roman.otf');
  font-weight: 500;
  font-style: normal;
}

/* BASE */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-light);
  /* background: linear-gradient(to top, white, var(--color-light)); */
  margin: 3rem;
  /* font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300))); */
  display: grid;
  grid-template-columns: 13vw 40vw 40vw 7vw;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "sidebar main main ."
    "footer footer footer footer";
}

header {
  margin-bottom: 2rem;
}

main {}

section {
  /* margin: 0.5rem; */
  /* display: flex; */
  /* background-color: light grey; */
  /* text-align: center; */
}

article {}

span {}

blockquote {}

h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-1);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-2);
}

h3 {
  font-family: var(--font-subheading);
  font-size: var(--font-size-3);
  margin: var(--spacing-default);
}

h4 {
  font-family: var(--font-subheading);
  line-height: 1.25;
  font-size: var(--font-size-4);
  margin: var(--spacing-default);
}

p {
  line-height: 2;
  font-family: var(--font-body);
  font-size: var(--font-size-5);
}

img {}

/* LAYOUT */
/* big grid */
.header {
  grid-area: header;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-white);
  color: var(--color-red);
  padding: 2rem;
  /* padding: 1rem 1rem 1rem 1rem; */
  font-size: var(--font-size-4);
  line-height: 2;
  text-decoration: none;
  overflow: hidden;
  border-radius: 25px;
  justify-items: center;

}

.sidebar li {
  justify-items: center;
  text-align: center;
  margin-bottom: -11px;
  /* padding: var(--spacing-default) var(--spacing-default) 0 var(--spacing-default); */
}

.sidebar a:link, .sidebar a:visited {
  text-align: center;
margin-left: -0.3rem;
  color: var(--color-black);
  text-decoration: none;
}

.sidebar a:hover, .sidebar a:active {
  margin-left: -0.3rem;

  color: var(--color-red);
  text-decoration: none;
  text-align: center;

}

.shelf {
  /* position: relative; */
  z-index: -3;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%);
  box-shadow: 0 2px 2px var(--color-red), 0 4px 0 #abb8c3, 0 20px 30px -8px #000000, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
}

.shelf .reflection {
  /* position: absolute; */
  top: 20px;
  left: 1px;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0.5) 35%, #ffffff 65%, rgba(255, 255, 255, 0.7) 100%);
}


.main {
  grid-area: main;
}

.footer {
  margin-top: 5vh;
  grid-area: footer;
}

/* content grid */
.sectionWrapper {
  border-radius: 20px;
padding-top: 3rem;
  background-color: var(--color-white);
  margin: 1rem;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    ". obaRobot ."
    "section section section";
}

.obaRobot {
  grid-area: obaRobot;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  grid-template-rows: auto;
  grid-template-areas:
    "robot robotName robotName"
    "robot robotText robotText";
}

section .active {
  opacity: 1;
  grid-area: section;
}

.questions {
  display: grid;
  /* grid-column-gap: var(--spacing-small); */
  /* grid-row-gap: var(--spacing-default); */
  grid-template-columns: 10% 20% 40% 20% 10%;
  grid-template-rows: auto;
  grid-template-areas:
    ". question question question ."
}

.question {
  grid-area: question;
  display: grid;
  grid-column-gap: var(--spacing-small);
  grid-row-gap: var(--spacing-default);
  grid-template-columns: 10% 45% 45%;
  grid-template-rows: auto;
  grid-template-areas:
    "robot qTitle qTitle"
    "robot toelichting toelichting"
    "buttonChoice buttonChoice buttonChoice"
}

.q1 {
  opacity: 0;
}

.q1 .visible {
  grid-area: question
}


.toelichting {
  grid-area: toelichting;
}

.qTitle {
  grid-area: title;
}

.intro {
  grid-area: intro;
}

.menu {
  grid-area: menu;
}




.overview {
  opacity: 0;
}

.books {
  opacity: 0;
}

.details {
  opacity: 0;
}

.buttonChoice {
  grid-area: buttonChoice;
}

.active {
  opacity: 1;
}



.question .visible {
  opacity: 1;
  grid-area: question;
}

/* MODULES */
.robot {
  grid-area: robot;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.obaRobot h3 {
  color: black;
  grid-area: robotName;
}

.obaRobot h4 {
  color: black;
  grid-area: robotText;
}

.button {
  padding: var(--spacing-default) 0;
  width: 270px;
  border-radius: 0;
  background: var(--color-red);
  color: var(--color-light);
  text-align: center;
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: var(--font-size-4);
}

.button:hover, .button:focus {
  background: var(--color-darkRed);
  color: var(--color-white);
}

.button:disabled {
  background: rgba(var(--color-darkRed), .6);
  color: rgba(var(--color-light), .8)
}

#backToTop {
position: fixed;
margin-top: 10vh;
margin-right: 0.3rem;

}

#backToTop:hover {
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid black;
}


.genreIcon {
  /* max-width: 10vw;
  align-self: center;
  margin-top: 2vw; */
}

/* .logo {
  height: 7vw;
  margin-right: 3vw;
} */
/* STATE */
section:hover #naald {
  /* transform: rotate(360deg); */
  transform-origin: center;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  transition-delay: 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }

  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

/* THEME */
